<main class="flex flex-col items-center justify-center h-screen py-6">
  <h1 class="text-lg font-bold">Custom Email Input w/ Validation</h1>
  <form class="mt-4">
    <div class="pb-6">
      <email-selector [domains]="domains" [formControl]="email"></email-selector>
      <section class="absolute mt-2" *ngFor="let error of (email.errors | errorMessage: errors)">
        <p class="text-sm text-red-600">{{error}}</p>
      </section>
    </div>
    <section class="mt-4">
      <p class="text-sm text-gray-700">
        Try <strong>john@adi.so</strong> and <strong>john_d@sreyaj.dev</strong>.
      </p>
    </section>
  </form>
</main>
<app-footer></app-footer>

<!-- <app-footer></app-footer> -->